---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
<div class="flex items-center space-x-4">
  <img class="object-cover h-55 w-55 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}" alt="author profile image">
  <h1>{{site.author}}</h1>
</div>

  {% if site.author-bio %}
  <p class="text-gray-500 pb-4">{{site.author-bio}}</p>
  {% endif %}
</div>
</div>

{% include social-media.html %}
{% include footer.html %}
